.hero-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../picture/zamek.jpg");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px #660000;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #ddd;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    padding: 16px 32px;
    border-radius: 25px;
}

.btn:hover {
    background-color: #b22222;
    color: white;
}